<% layout('main') %>
<div>
    <p></p>
</div>
<div class="row">
    <form class="form-horizontal" action="/api/save" method="post">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Change Number</label>
            <div class="col-sm-6 input-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Change Number">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Change Description</label>
            <div class="col-sm-6 input-group">
                <input type="text" class="form-control" id="description" name="description" placeholder="Change Description">
            </div>
        </div>
        <div class="form-group">
            <label for="start" class="col-sm-2 control-label">Change Start Date</label>
            <div class="col-sm-3 input-group">
                <input type="text" class="form-control" name="start" id="start" placeholder="Change Start Date">
                <span class="input-group-addon">
                    <span class="fa fa-calendar">
                    </span>
                </span>
            </div>
            <script type="text/javascript">
              $(function () {
                  $('#start').datetimepicker({
                      format: 'YYYY-MM-DD hh:mm a'
                  });
              });
            </script>
        </div>
        <div class="form-group">
            <label for="end" class="col-sm-2 control-label">Change End Date</label>
            <div class="col-sm-3 input-group">
                <input type="text" class="form-control" name="end" id="end" placeholder="Change End Date">
                <span class="input-group-addon">
                    <span class="fa fa-calendar">
                    </span>
                </span>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#end').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm a'
                });
            });
        </script>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>

            </div>
        </div>
    </form>
</div>
